<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<!--公共头部-->
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css"/>
    <!-- Custom styles for this template -->
    <link href="http://v3.bootcss.com/examples/dashboard/dashboard.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>

<body>
<!--公共头部+公共导航栏-->
<span th:fragment="frame">

<!--公共title-->
<span th:fragment="title">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Grace</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div th:if="${#httpServletRequest.remoteUser == null}">
                <form class="navbar-form navbar-right" role="form" action="/register" method="get">
                    <button type="submit" class="btn btn-success">Sign up</button>
                </form>
                <form class="navbar-form navbar-right" role="form" action="/login" method="post">
                    <div class="form-group">
                        <input type="text" placeholder="username" class="form-control" name="username"/>
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="password" class="form-control" name="password"/>
                    </div>
                    <button type="submit" class="btn btn-success">Sign in</button>
                </form>
             </div>
            <div th:if="${#httpServletRequest.remoteUser != null}">
                <form class="navbar-form navbar-right" action="/logout" method="post">
                    <button type="submit" class="btn btn-success">Sign out</button>
                </form>
                <h2 class="navbar-form navbar-right" th:text="${#httpServletRequest.remoteUser}">Name</h2>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/u/trade">交易系统</a></li>
                <li><a href="/u/log">日志详情</a></li>
                <li><a href="/u/setting">账户设置</a></li>
            </ul>

        </div>
    </div>
</nav>
</span>

    <!--公共bar-->
<span th:fragment="bar">
<div class="container-fluid">
    <div class="row">
        <div class=" col-md-1 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="/u/btc-trade">BTC</a></li>
                <li class="active"><a href="/u/ltc-trade">LTC</a></li>
            </ul>

            <ul class="nav nav-sidebar">
                <li><a href="/u/price">行情</a></li>
                <li><a href="#">K线</a></li>
                <li><a href="#">数据分析</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="/u/account">资产详情</a></li>
                <li><a href="">借贷详情</a></li>
                <li><a href="">操作日志</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="/u/setting">设置个人参数</a></li>
                <li><a href="">查看系统配置</a></li>
            </ul>
        </div>
    </div>
</div>
</span>
</span>

<span th:fragment="foot">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"/>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"/>
</span>

<span th:fragment="foot_ws">
<span th:include="common :: foot"></span>
<script src="/webjars/sockjs-client/sockjs.min.js"/>
<script src="/webjars/stomp-websocket/stomp.min.js"/>
</span>

</body>
</html>